@import "./scss/navbar";
@import "./scss/index";
@import "./scss/footer";
@import "./scss/about";
@import "./scss/services";
@import "./scss/contact";


*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

